---
title: enhencedauthz
layout: protoc-gen-docs
generator: protoc-gen-docs
number_of_entries: 4
---
<h2 id="Action">Action</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Action-namespace">
<td><code>namespace</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Action-service">
<td><code>service</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Action-method">
<td><code>method</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Action-path">
<td><code>path</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Action-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h2 id="OutputTemplate">OutputTemplate</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="OutputTemplate-authzContext">
<td><code>authzContext</code></td>
<td><code>map&lt;string,&nbsp;string&gt;</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Subject">Subject</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Subject-user">
<td><code>user</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Subject-groups">
<td><code>groups</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Subject-properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Template">Template</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Template-subject">
<td><code>subject</code></td>
<td><code><a href="#Subject">Subject</a></code></td>
<td>
</td>
</tr>
<tr id="Template-action">
<td><code>action</code></td>
<td><code><a href="#Action">Action</a></code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
